<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.mapper.CustomerMapper">
    <select id="selectPageVo" resultType="com.cy.vo.KhxxCustomerVo">
        select c.id,
               c.is_deleted,
               c.customer_name,
               c.customer_age,
               c.customer_sex,
               c.idcard,
               c.room_no,
               c.building_no,
               c.checkin_date,
               c.expiration_date,
               c.contact_tel,
               c.bed_id,
               c.psychosomatic_state,
               c.attention,
               c.birthday,
               c.height,
               c.weight,
               c.blood_type,
               c.filepath,
               c.user_id,
               c.level_id,
               c.family_member,
               b.bed_no,
               n.level_name,
               u.nickname from customer c
        left join user u
            on c.user_id = u.id
        left join bed b
            on c.bed_id = b.id
        left join nurselevel n
            on c.level_id = n.id
        <where>
            <if test="manType != null and manType == 1">
                and (select count(1) from customernurseitem cni where cni.custormer_id = c.id and cni.is_deleted = 0) = 0
            </if>
            <if test="manType != null and manType == 2">
                and (select count(1) from customernurseitem cni where cni.custormer_id = c.id and cni.is_deleted=0) > 0
            </if>
            <if test="manType != null and manType == 3">
                and user_id = -1
            </if>
            <if test="customerName != null and customerName != ''">
                and c.customer_name like concat('%',#{customerName},'%')
            </if>
            <if test="userId != null">
                and c.user_id = #{userId}
            </if>
            and c.is_deleted = 0
        </where>
        order by c.id desc limit #{currentPage}, #{pageSize}
    </select>

    <select id="selectCountVo" resultType="com.cy.vo.CountVo">
        select count(*) as count from customer c
        left join user u
        on c.user_id = u.id
        left join bed b
        on c.bed_id = b.id
        left join nurselevel n
        on c.level_id = n.id
        <where>
            <if test="manType != null and manType == 1">
                and (select count(1) from customernurseitem cni where cni.custormer_id = c.id and cni.is_deleted = 0) = 0
            </if>
            <if test="manType != null and manType == 2">
                and (select count(1) from customernurseitem cni where cni.custormer_id = c.id and cni.is_deleted=0) > 0
            </if>
            <if test="manType != null and manType == 3">
                and user_id = -1
            </if>
            <if test="customerName != null and customerName != ''">
                and c.customer_name like concat('%',#{customerName},'%')
            </if>
            <if test="userId != null">
                and c.user_id = #{userId}
            </if>
            and c.is_deleted = 0
        </where>
        order by c.id desc
    </select>
</mapper>
