<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.mapper.OutwardMapper">
    <!-- 通过当前登录护工查询对应客户信息 -->
    <select id="selectOutwardVo" resultType="com.cy.vo.OutwardVo">
        select
               u.nickname,
               u.phone_number,
               ow.id,
               ow.remarks,
               ow.is_deleted,
               ow.customer_id,
               ow.outgoingreason,
               ow.outgoingtime,
               ow.expectedreturntime,
               ow.actualreturntime,
               ow.escorted,
               ow.relation,
               ow.escortedtel,
               ow.auditstatus,
               ow.auditperson,
               ow.audittime,
               cs.customer_name
        from outward ow, user u, customer cs
        where cs.user_id = u.id
          and ow.customer_id = cs.id
          and ow.is_deleted = 0
        <if test="userId != null and userId != ''">
            and cs.user_id = #{userId}
        </if>
        limit #{currentPage}, #{pageSize}
    </select>

    <select id="selectOutwardCount" resultType="com.cy.vo.CountVo">
        select
            count(*) as count
        from outward ow, user u, customer cs
        where cs.user_id = u.id
        and ow.customer_id = cs.id
        and ow.is_deleted = 0
        <if test="userId != null and userId != ''">
            and cs.user_id = #{userId}
        </if>
    </select>
</mapper>
